// breadcumbs ===========================================================
.main__breadcumbs
	.container
		ul.breadcumbs__list
			li: a(href="/") Интернет-магазин
			li.active: a(href="/") Оформление заказа
// breadcumbs end ========================================================


// content area ===========================================================
.main__content
	.container.bg-contacts
		.content__left-big
			.content__header
				h2 О компании
			.content__inner
				p Время доставки согласовывается с менеджером Службы доставки, который обязательно свяжется с вами сразу после того, как вы разместите свой заказ. Внимание! Неправильно указанный номер телефона, неточный или неполный адрес могут привести к дополнительной задержке! Пожалуйста, внимательно проверяйте ваши персональные данные при регистрации и оформлении заказа. Конфиденциальность ваших регистрационных данных гарантируется.
				p Доставка выполняется ежедневно с 08:00 до 21:00 часов. Время осуществления доставки зависит от времени размещения заказа и наличия товара на складе. Дата и время доставки обговаривается с нашим менеджером. Вы также можете указать любое другое удобное время доставки, и покупка будет доставлена в удобное Вам время. Иное время доставки, а также время доставки в населенные пункты области определяется по договоренности с клиентом.
				p Данная услуга предоставляется в день обращения. Для тех кто не хочет ждать, можно заказать доставку день в день. Наши водители привезут заказ в удобное для Вас время. 
				p Стоимость услуги, срочная доставка, считается по двойному тарифу. Москва - 1000 руб. до подъезда. Московская область 1000 руб. +60 руб. за каждый Км. от МКАД.				
			.content__features
				p.title Преимущества «Технокараван»
				.main__features
					ul.features__list
						li
							a(href="#") 
								span.ico
								span.text Быстрая доставка и самовывоз
						li
							a(href="#") 
								span.ico
								span.text Интерент магазин работает круглосуточно
						li
							a(href="#") 
								span.ico
								span.text Гарантия <br/> на товар
						li
							a(href="#") 
								span.ico
								span.text Оплата любым способом
		.content__right-small
			p.right__header Контактная информация
			.contacts__right 
				p.contacts__title Многоканальные телефоны
				ul.phones.contacts__list
					li
						span.phone +7 (800) 001-23-15
						span Отдел продаж
						span.time с 10.00 до 19.00 ежедневно
					li
						span.phone +7 (800) 001-23-15
						span Горячая линия
						span.time с 10.00 до 19.00 ежедневно
				ul.contacts__list.urinfo
					li
						span ООО «Технокараван»
						span ОГРН 10777460456607
					li
						span Юридический адрес:
						span.addr 111024, г. Москва, ул, Авиамоторная, д. 65 с.,1
					li
						span Фактический адрес:
						span.addr 241035, г. Брянск, ул. 3-го Интернационала, д. 8
				p.dop-info Деятельность Интернет-магазина осуществляется в соответствии с действующим российским законодательством, в соответствии с «Законом о защите прав потребителей» №2300-1 от 07.02.1992









