// breadcumbs ===========================================================
.main__breadcumbs
	.container
		ul.breadcumbs__list
			li: a(href="/") Интернет-магазин
			li: a(href="/") Ноутбуки, планшеты, компьютеры
			li: a(href="/") Ноутбуки и компьютеры
			li.active: a(href="/") Ноутбуки
// breadcumbs end ========================================================
// content area ===========================================================
.main__content
	.container
		.content__left.compare
			.compare-thead
				.compare-header Сравнение товаров
				a.clear-list(href="#") 
					span.ico 
					| Очистить список
					
				.compare-sort
					.compare-sort__name Сортировать
					a.compare-sort__item(href="#") Все параметры
					<br/>
					a.compare-sort__item(href="#") Различающиеся
				.compare-char
					.compare-char__header Характеристики
			.compare-chars
				.compare-char__item Название
				.compare-char__item.buy-btn__row Купить	
				.compare-char__item Цена
				.compare-char__item Цвет 
				.compare-char__item Диапазон измерения влажности
				.compare-char__item Диапазон измерения температуры
				.compare-char__item Диапазон измерения внешней температуры
				.compare-char__item Диапазон измерения внешней влажности
				.compare-char__item Подключаемых датчиков	
				.compare-char__item Измерение атмосферного давления
				.compare-char__item Внешний термодатчик в комплекте	
				.compare-char__item Внешний термо/гидродатчик в комплекте
				.compare-char__item Радиус действия внешних датчиков
				.compare-char__item Электропитание
				.compare-char__item Тип батарей питания
				.compare-char__item Индикатор батареи
		.content__right
			#scrollbar-top
				.scroll-wrap
					.compare-scroll-top
			.compare-area__wrap
				.compare-area
					.compare-item
						.compare-thead__right
							a(href="#").compare-item__close Закрыть
							img(src="img/3pc.jpg", alt="")
						.compare-right__chars
							.compare-char__item Название
							.compare-char__item.buy-btn__row: a.buy-btn(href="#") Купить
							.compare-char__item 1 491.48 руб.
							.compare-char__item белый
							.compare-char__item от 20% до 90%
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 20% до 90%
							.compare-char__item 1
							.compare-char__item ДА	
							.compare-char__item 1
							.compare-char__item 1
							.compare-char__item 30
							.compare-char__item батарейки
							.compare-char__item ААА
							.compare-char__item Да
					.compare-item
						.compare-thead__right
							a(href="#").compare-item__close Закрыть
							img(src="img/2pc.jpg", alt="")
						.compare-right__chars
							.compare-char__item Название
							.compare-char__item.buy-btn__row: a.buy-btn(href="#") Купить
							.compare-char__item 1 491.48 руб.
							.compare-char__item белый
							.compare-char__item от 20% до 90%
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 20% до 90%
							.compare-char__item 1
							.compare-char__item ДА	
							.compare-char__item 1
							.compare-char__item 1
							.compare-char__item 30
							.compare-char__item батарейки
							.compare-char__item ААА
							.compare-char__item Да
					.compare-item
						.compare-thead__right
							a(href="#").compare-item__close Закрыть
							img(src="img/1pc.jpg", alt="")
						.compare-right__chars
							.compare-char__item Название
							.compare-char__item.buy-btn__row: a.buy-btn(href="#") Купить
							.compare-char__item 1 491.48 руб.
							.compare-char__item белый
							.compare-char__item от 20% до 90%
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 20% до 90%
							.compare-char__item 1
							.compare-char__item ДА	
							.compare-char__item 1
							.compare-char__item 1
							.compare-char__item 30
							.compare-char__item батарейки
							.compare-char__item ААА
							.compare-char__item Да
					.compare-item
						.compare-thead__right
							a(href="#").compare-item__close Закрыть
							img(src="img/1pc.jpg", alt="")
						.compare-right__chars
							.compare-char__item Название
							.compare-char__item Купить	
							.compare-char__item 1 491.48 руб.
							.compare-char__item белый
							.compare-char__item от 20% до 90%
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 20% до 90%
							.compare-char__item 1
							.compare-char__item ДА	
							.compare-char__item 1
							.compare-char__item 1
							.compare-char__item 30
							.compare-char__item батарейки
							.compare-char__item ААА
							.compare-char__item Да
					.compare-item
						.compare-thead__right
							a(href="#").compare-item__close Закрыть
							img(src="img/1pc.jpg", alt="")
						.compare-right__chars
							.compare-char__item Название
							.compare-char__item.buy-btn__row: a.buy-btn(href="#") Купить
							.compare-char__item 1 491.48 руб.
							.compare-char__item белый
							.compare-char__item от 20% до 90%
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 20% до 90%
							.compare-char__item 1
							.compare-char__item ДА	
							.compare-char__item 1
							.compare-char__item 1
							.compare-char__item 30
							.compare-char__item батарейки
							.compare-char__item ААА
							.compare-char__item Да
					.compare-item
						.compare-thead__right
							a(href="#").compare-item__close Закрыть
							img(src="img/1pc.jpg", alt="")
						.compare-right__chars
							.compare-char__item Название
							.compare-char__item.buy-btn__row: a.buy-btn(href="#") Купить
							.compare-char__item 1 491.48 руб.
							.compare-char__item белый
							.compare-char__item от 20% до 90%
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 40°С до 70°С
							.compare-char__item от 20% до 90%
							.compare-char__item 1
							.compare-char__item ДА	
							.compare-char__item 1
							.compare-char__item 1
							.compare-char__item 30
							.compare-char__item батарейки
							.compare-char__item ААА
							.compare-char__item Да
			#scrollbar-bot
				.scroll-wrap
					.compare-scroll-bot
			.tovar__main.clearfix
				
			.catalog__recently
				h2 Вы недавно смотрели
				.recently__gal
					ul.tovars__category#recentlyCarousel
						li.tovars__item.new
							a.header(href="#")
								img(src="img/pc1.jpg", alt="")
							.content
								a.title(href="#") Кофеварка
								a.mark(href="#") Nespresso krups
							.footer
								a(href="#").buy-btn Купить
								.price 2 753
									span руб
						li.tovars__item.hit
							a.header(href="#")
								img(src="img/pc1.jpg", alt="")
							.content
								a.title(href="#") Кофеварка
								a.mark(href="#") Nespresso krups
							.footer
								a(href="#").buy-btn Купить
								.price 2 753
									span руб
						li.tovars__item
							a.header(href="#")
								img(src="img/pc1.jpg", alt="")
							.content
								a.title(href="#") Кофеварка
								a.mark(href="#") Nespresso krups
							.footer.hit
								a(href="#").buy-btn Купить
								.price 2 753
									span руб
						li.tovars__item.hit
							a.header(href="#")
								img(src="img/pc1.jpg", alt="")
							.content
								a.title(href="#") Кофеварка
								a.mark(href="#") Nespresso krups
							.footer
								a(href="#").buy-btn Купить
								.price 2 753
									span руб