// breadcumbs ===========================================================
.main__breadcumbs
	.container
		ul.breadcumbs__list
			li: a(href="/") Интернет-магазин
			li.active: a(href="/") Доставка и оплата
// breadcumbs end ========================================================


// content area ===========================================================
.main__content
	.container.dc
		.content__header
			h2 Акции и скидки
		.content__inner(style="border: none;")
			.discount__item.clearfix
				.discount__image
					img(src="img/2discount.jpg", alt="")
				.discount__content
					.content__centered
						strong.discount__header Открываем сезон летних распродаж
						p.discount__time.decorate Акция действует с 10го по 20е мая
						p Процветающий бизнес наших партнеров - лучшая реклама нашей работы. У нас более 2500 клиентов, среди которых предприятия торговли, предприятия питания, гостиницы, дома отдыха, санатории, производители продуктов питания. И многие компании, которые дорожат своим временем, знают цену деньгам и качеству.
						a(href="#").buy-btn Подробнее
			.discount__item.clearfix
				.discount__image
					img(src="img/1discount.jpg", alt="")
				.discount__content
					.content__centered
						strong.discount__header Открываем сезон летних распродаж
						p.discount__time Акция действует с 10го по 20е мая
						p Процветающий бизнес наших партнеров - лучшая реклама нашей работы. У нас более 2500 клиентов, среди которых предприятия
						a(href="#").buy-btn Подробнее
			.discount__item.clearfix
				.discount__image
					img(src="img/2discount.jpg", alt="")
				.discount__content
					.content__centered
						strong.discount__header Бесплатная доставка по россии
						p.discount__time Акция действует с 10го по 20е мая
						p Процветающий бизнес наших партнеров - лучшая реклама нашей работы. У нас более 2500 клиентов, среди которых предприятия торговли, предприятия питания, гостиницы, дома отдыха, санатории, производители продуктов питания. И многие компании, которые дорожат своим временем, знают цену деньгам и качеству.
						a(href="#").buy-btn Подробнее

		.catalog__recently
					h2 Вы недавно просматривали
					.recently__gal
						ul.tovars__category#recentlyCarousel
							li.tovars__item.new
								a.header(href="#")
									img(src="img/pc1.jpg", alt="")
								.content
									a.title(href="#") Кофеварка
									a.mark(href="#") Nespresso krups
								.footer
									a(href="#").buy-btn Купить
									.price 2 753
										span руб
							li.tovars__item.hit
								a.header(href="#")
									img(src="img/pc1.jpg", alt="")
								.content
									a.title(href="#") Кофеварка
									a.mark(href="#") Nespresso krups
								.footer
									a(href="#").buy-btn Купить
									.price 2 753
										span руб
							li.tovars__item
								a.header(href="#")
									img(src="img/pc1.jpg", alt="")
								.content
									a.title(href="#") Кофеварка
									a.mark(href="#") Nespresso krups
								.footer.hit
									a(href="#").buy-btn Купить
									.price 2 753
										span руб
							li.tovars__item.hit
								a.header(href="#")
									img(src="img/pc1.jpg", alt="")
								.content
									a.title(href="#") Кофеварка
									a.mark(href="#") Nespresso krups
								.footer
									a(href="#").buy-btn Купить
									.price 2 753
										span руб
							li.tovars__item
								a.header(href="#")
									img(src="img/pc1.jpg", alt="")
								.content
									a.title(href="#") Кофеварка
									a.mark(href="#") Nespresso krups
								.footer
									a(href="#").buy-btn Купить
									.price 2 753
										span руб
							li.tovars__item
								a.header(href="#")
									img(src="img/pc1.jpg", alt="")
								.content
									a.title(href="#") Кофеварка
									a.mark(href="#") Nespresso krups
								.footer
									a(href="#").buy-btn Купить
									.price 2 753
										span руб
							li.tovars__item
								a.header(href="#")
									img(src="img/pc1.jpg", alt="")
								.content
									a.title(href="#") Кофеварка
									a.mark(href="#") Nespresso krups
								.footer
									a(href="#").buy-btn Купить
									.price 2 753
										span руб
							li.tovars__item
								a.header(href="#")
									img(src="img/pc1.jpg", alt="")
								.content
									a.title(href="#") Кофеварка
									a.mark(href="#") Nespresso krups
								.footer
									a(href="#").buy-btn Купить
									.price 2 753
										span руб
// content area end ========================================================