head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Start
	meta(name='description', content='')
	link(rel='apple-touch-icon', href='apple-touch-icon.png')
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,700")
	link(rel="stylesheet", href='/fonts/proximaNova/fonts.css')
	// LIBS STYLES ======================================================================		
	link(rel='stylesheet', href='libs/normalize-css/normalize.css')
	link(rel='stylesheet', href='libs/fancybox/source/jquery.fancybox.css', type='text/css', media='screen')
	link(rel='stylesheet', href='libs/jquery-ui/jquery-ui.min.css')
	link(rel="stylesheet", href="libs/formstyler/jquery.formstyler.css")
	// CUSTOM STYLES ====================================================================
	link(rel='stylesheet', href='css/style.css')
	script(src='libs/modernizr-min/modernizr.min.js')
	script(src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript")