// slider ====================================================
.main__slider
	noscript Для отображеия слайдера у вас должен быть включен Javascript
	.loader
	ul#mainSlider
		li: img(src="img/slide1.jpg", alt="")
		li: img(src="img/slide1.jpg", alt="")
		li: img(src="img/slide1.jpg", alt="")
// slider end ====================================================
//features ====================================================
.main__features
	.container
		ul.features__list
			li
				a(href="#") 
					span.ico
					span.text Быстрая доставка и самовывоз
			li
				a(href="#") 
					span.ico
					span.text Интерент магазин работает круглосуточно
			li
				a(href="#") 
					span.ico
					span.text Гарантия <br/> на товар
			li
				a(href="#") 
					span.ico
					span.text Оплата любым способом
// features end ====================================================
// tovars carousel ====================================================
.main__tovars-carousel
	.tovars__nav
		ul#tovarsNav
			li.active Распродажа
			li Рекомендуем
			li Новинки
			li Уцененный товар
	#tovarsCarousel
		.tovars__carousel.active
			ul.tovars__category.hot
				li.tovars__item
					a.header.new(href="#")
						img(src="img/1mt.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/2mt.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header.new(href="#")
						img(src="img/3mt.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer.hit
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header.hit(href="#")
						img(src="img/4mt.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб

		.tovars__carousel
			ul.tovars__category.rec
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
		.tovars__carousel
			ul.tovars__category.new
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
		.tovars__carousel
			ul.tovars__category.uc
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
				li.tovars__item
					a.header(href="#")
						img(src="img/tovar1.jpg", alt="")
					.content
						a.title(href="#") Кофеварка
						a.mark(href="#") Nespresso krups
					.footer
						a(href="#").buy-btn Купить
						.price 2 753
							span руб
// tovars carousel end ====================================================
// about ==============================================

.main__about
	.container
		h2 Интернет магазин бытовой техники и электроники
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. 
		p Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui.  Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. 	
		p Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam
// about end ==============================================

//partners =================================================

.main__partners
	.container
		ul#partnersCarousel
			li
				img(src="img/4p.jpg", alt="")
			li
				img(src="img/3p.jpg", alt="")
			li
				img(src="img/2p.jpg", alt="")
			li
				img(src="img/1p.jpg", alt="")
			li
				img(src="img/4p.jpg", alt="")
			li
				img(src="img/3p.jpg", alt="")
			li
				img(src="img/2p.jpg", alt="")
			li
				img(src="img/1p.jpg", alt="")
			li
				img(src="img/4p.jpg", alt="")
			li
				img(src="img/3p.jpg", alt="")
			li
				img(src="img/2p.jpg", alt="")
			li
				img(src="img/1p.jpg", alt="")

//partners end =================================================