// breadcumbs ===========================================================
.main__breadcumbs
	.container
		ul.breadcumbs__list
			li: a(href="/") Интернет-магазин
			li.active: a(href="/") Оформление заказа
// breadcumbs end ========================================================


// content area ===========================================================
.main__content
	.container
		form(action="")
			.content__right.cart__left
				.content__header
					h2 Оформление заказа
				.buyer-info
					
						p.header__desc Данные получателя
						.buyer-info__row
							input(type="text" placeholder="Ваше имя*")
							input(type="text" placeholder="Телефон*")
							input(type="text" placeholder="Электронная почта*")
						p.header__desc Выберите способ оплаты
						.buyer-info__row#payMethod
							label
								input(type="radio" name="pay_method")
								.ico
								span Наличные
							label.active
								input(type="radio" name="pay_method")
								.ico
								span Банковской картой
							label
								input(type="radio" name="pay_method")
								.ico
								span Банковской картой при получении
							label
								input(type="radio" name="pay_method")
								.ico
								span Электронные деньги
						p.header__desc Выберите удобный вам пункт выдачи товаров
						.point-tabs#pointTabs
							ul.tabs-nav
								li.active: a(href="#pointList") Список
								li: a(href="#pointMap") На карте
							.tabs-content
								.tabs-content__item#pointList.active
									.point-list
										label.point-list__item.active
											input(type="radio" name="zakaz_point")
											.border
											span.point-list__name м. Академическая, Проспект Науки д. 17 корп 2, Магазин «Технокараван»
											span.point-list__time Пн-Вс: 10:00-21:00
										label.point-list__item
											input(type="radio" name="zakaz_point")
											.border
											span.point-list__name м. Академическая, Проспект Науки д. 17 корп 2, Магазин «Технокараван»
											span.point-list__time Пн-Вс: 10:00-21:00
										label.point-list__item
											input(type="radio" name="zakaz_point")
											.border
											span.point-list__name м. Академическая, Проспект Науки д. 17 корп 2, Магазин «Технокараван»
											span.point-list__time Пн-Вс: 10:00-21:00
										label.point-list__item
											input(type="radio" name="zakaz_point")
											.border
											span.point-list__name м. Академическая, Проспект Науки д. 17 корп 2, Магазин «Технокараван»
											span.point-list__time Пн-Вс: 10:00-21:00
								.tabs-content__item#pointMap
									.oformlenie__map
										script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Wqa00LH1KiwbTB-67lDfLfn0WBy1o__F&width=100%&height=400&lang=ru_RU&sourceType=constructor&scroll=true")
			.content__right-small.oformlenie__right
				p.oformlenie__col В вашем заказе: 1 товар
				.oformlenie__cart
					.oformlenie__item
						.oformlenie__image
							img(src='img/oformlenie-nout.jpg', alt='')
						.oformlenie__desc
							a(href='#') Ноутбук Asus R540SA-XX036T
							span.price 2 627 руб
							span.col-price 3 x 2627 руб
				.final__sum
					p.header__desc
						| Итого:
						.sum__block
							.sum__row.clearfix
								span.sum__name Стоимость:
								span.sum__val
									span.num 0 руб.
							.sum__row.clearfix
								span.sum__name Доставка до точки выдачи:
								span.sum__val
									span.num 0 руб.
							.sum__row.end.clearfix
								span.sum__name Всего к оплате:
								span.sum__val
									span.num 0 руб.
						input.buy-btn(type='submit', value='Завершить оформление')