// breadcumbs ===========================================================
.main__breadcumbs
	.container
		ul.breadcumbs__list
			li: a(href="/") Интернет-магазин
			li.active: a(href="/") Оформление заказа
// breadcumbs end ========================================================


// content area ===========================================================
.main__content
	.container.bg-contacts
		.content__left-big
			.content__header
				h2 Самовывоз
			.content__inner
				p Вы можете забрать товар самостоятельно, сделать это можно в наших розничных магазинах.  
				p Оформление "самовывоза" товара происходит следующим образом:
				p Вы звоните нам, или делаете заказ в электронном виде. После чего нужно дождаться подтверждения от менеджера, о наличие товара, получить номер заказа и договориться о времени, когда Вам удобно забрать товар. 
				p Предупреждаем Вас, цены в розничных магазинах могут отличаться от цен интернет-магазина, по этому правильно оформляйте заказ. Не забывайте номер Вашего заказа, во избежании потери времени на переоформление.
			.content__inner
				p.title Адреса пунктов выдачи
					.point-tabs#pointTabs
						ul.tabs-nav
							li.active: a(href="#pointList") Список
							li: a(href="#pointMap") На карте
						.tabs-content
							.tabs-content__item#pointList.active
								.point-list
									label.point-list__item.active
										input(type="radio" name="zakaz_point")
										.border
										span.point-list__name м. Академическая, Проспект Науки д. 17 корп 2, Магазин «Технокараван»
										span.point-list__time Пн-Вс: 10:00-21:00
									label.point-list__item
										input(type="radio" name="zakaz_point")
										.border
										span.point-list__name м. Академическая, Проспект Науки д. 17 корп 2, Магазин «Технокараван»
										span.point-list__time Пн-Вс: 10:00-21:00
									label.point-list__item
										input(type="radio" name="zakaz_point")
										.border
										span.point-list__name м. Академическая, Проспект Науки д. 17 корп 2, Магазин «Технокараван»
										span.point-list__time Пн-Вс: 10:00-21:00
									label.point-list__item
										input(type="radio" name="zakaz_point")
										.border
										span.point-list__name м. Академическая, Проспект Науки д. 17 корп 2, Магазин «Технокараван»
										span.point-list__time Пн-Вс: 10:00-21:00
							.tabs-content__item#pointMap
								.oformlenie__map
									script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Wqa00LH1KiwbTB-67lDfLfn0WBy1o__F&width=100%&height=400&lang=ru_RU&sourceType=constructor&scroll=true")
		.content__right-small
			p.right__header Контактная информация
			.contacts__right 
				p.contacts__title Многоканальные телефоны
				ul.phones.contacts__list
					li
						span.phone +7 (800) 001-23-15
						span Отдел продаж
						span.time с 10.00 до 19.00 ежедневно
					li
						span.phone +7 (800) 001-23-15
						span Горячая линия
						span.time с 10.00 до 19.00 ежедневно
				ul.contacts__list.urinfo
					li
						span ООО «Технокараван»
						span ОГРН 10777460456607
					li
						span Юридический адрес:
						span.addr 111024, г. Москва, ул, Авиамоторная, д. 65 с.,1
					li
						span Фактический адрес:
						span.addr 241035, г. Брянск, ул. 3-го Интернационала, д. 8
				p.dop-info Деятельность Интернет-магазина осуществляется в соответствии с действующим российским законодательством, в соответствии с «Законом о защите прав потребителей» №2300-1 от 07.02.1992









